<nav class="nav nav-pills nav-fill">
  <div class="container">
    <a href="/" class="navbar-brand">Lux Real Estate</a>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/properties">All Properties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/properties/new">New Property</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
  
    </div>  
</nav>