<nav class="navbar navbar-expand-sm">
  <div class="container">
    <a href="/" class="navbar-brand">Lux Real Estate</a>
        <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/properties">All Properties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/properties/new">New Property</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        
    </div>  
</nav>