<%- include('partials/_head') %>
  <main>
    <div class="main-pic">
      <img class="center-pic" src="/images/home.jpeg" alt="an illuminated luxury home at dusk surrounded by a manicured lawn and palm trees">
    </div>
  </main>
<%- include('partials/_footer') %>