<%- include('../partials/_head') %>

<main class="container h-100 mt-5">
  <h2 class="mb-4">Properties</h2>

  <% if(properties.length) { %> <% properties.forEach((property)=> { %>
  <a href="/properties/<%= property._id %>">
    <h4><%= property.city %></h4>
  </a>
  <% }) %> <% } else { %>
  <h4>No Properties Found!</h4>
  <% } %>
</main>

<%- include('../partials/_footer') %>
