<%- include('../partials/_head') %>

  <main class="container h-100 mt-5">

      <h1>Add New Property</h1>
      <form action="/properties" method="POST">
        <label for="city">City</label>
        <input type="text" id="city" name="city" />

        <button type="submit">Add Property</button>
      </form>
    </main>

    %- include('../partials/_footer') %>

