* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

nav {
  background-color: #212529;
}

.nav-link {
 color: #f8f9fa;

}

.navbar-brand {
  color: #f8f9fa;
}

body {
  background-color: rgb(193, 221, 241);
}

/* ---- Slider ---- */
.carousel-item{
  height: 500px;
  min-height: 100px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: contain;
  background-size: contain;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.35;
}

.carousel-caption {
  bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5 {
  font-size: 100px;
  font-weight: 700px;
}

.carousel-control-prev {
  width: 8%;
}  

.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
  color: rgb(193, 221, 241);
}