* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

nav {
  background-color: #212529;
}

.nav-link {
  color: #f8f9fa;
}

.navbar-brand {
  color: #f8f9fa;
}

body,
h1,
.perks,
.flex-group {
  background-color: rgb(193, 221, 241);
}

/* ---- Slider ---- */

/* Carousel */

/* .carousel-item,
.carousel-inner,
.carousel-inner img {
  content: center;
} */
.carousel-item {
  text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 100px;
  height: 100px;

  padding: 25px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  transition: 0.4s;
  background-color: #44eeaa;
}

.carousel-bottom-btn {
  width: 50px;
  height: 5px;
  margin: 5px;
  appearance: none;
  border: none;
  outline: none;
  background-color: #44aaee;
  cursor: pointer;
  opacity: 0.5;
}

.carousel-bottom-btn:hover {
  transition: 0.4s;
  background-color: #44eeaa;
}

.demo-homes {
  width: 700px;
  height: 55%;
  border-radius: 25px;
}

/* .carousel {
  width: 80vw;
  margin: 0 auto;
  height: auto;
} */

/* Perks and Amenities Section */

.flex-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 50%;
  max-width: 950px;
  padding-top: 100px;
}

.perks {
  font-family: "montserrat", sans-serif;
  background-color: rgb(193, 221, 241);
  line-height: 35px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding-top: 20px;
}

.flex-container {
  flex: 0 60;
  height: 400px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: space-around;
  align-content: flex-start;

  padding: 0;
  margin: 0;
  list-style: none;

  background-color: rgb(193, 221, 241);
  position: relative;
}

.amenity-text {
  max-width: 400px;
}

.pic {
  width: 400px;
}

.amenity {
  width: 400px;
  border-radius: 25px;
  box-shadow: 3px 3px 6px 4px rgba(22, 29, 29, 0.536);
}

.flex-item {
  flex: 0 1 auto;
  padding: 5px;

  margin: 10px;

  line-height: 35px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

/* Testimonials */

.testimonials {
  font-family: "montserrat", sans-serif;
  background-color: rgb(193, 221, 241);
  line-height: 35px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding-top: 20px;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px 0px 40px;
}

.border {
  width: 75%;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.people {
  border-radius: 25px;
  box-shadow: 3px 3px 6px 4px rgba(22, 29, 29, 0.536);
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.877);
}

.stars {
  color: #6ab04c;
  margin-bottom: 20px;
}

/*  New Property Page */

.new-property-data {
  display: flex;
  flex-direction: column;
}

/* Show Single Property Page */

.show-property {
  width: 400px;
  height: 400px;
}

/*  Register  */
