* {
  box-sizing: border-box;
  justify-content: center;
  max-width: 1920px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

nav {
  background-color: #212529;
  opacity: 0.6;
}

.nav-link {
  color: #f8f9fa;
}

.nav-link:hover {
  color: #44eeaa;
}

.navbar-brand {
  color: #f8f9fa;
}

.navbar-brand:hover {
  color: #44eeaa;
}

main {
  justify-content: center;
}

body,
h1,
.perks,
.flex-group {
  background-color: rgb(193, 221, 241);
  overflow-x: hidden;
}

/* ---- Slider ---- */

/* Carousel */

#carouselExampleCaptions.carousel.slide {
  padding-top: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item,
.carousel-item:active {
  text-align: center;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #212529;
  border-radius: 25px;
  opacity: 1;
  width: 8%;
  top: 50px;
  border: none;
  /* margin: 0, 10px, 0, 10px; */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 100px;
  height: 100px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  transition: 0.4s;
  background-color: rgb(193, 221, 241);
  opacity: 0.6;
}

/* .view-properties {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  width: 220px;
  height: 23.5%;
  font-weight: 400;
  line-height: 1.5;
} */

.carousel-bottom-btn {
  width: 50px;
  height: 5px;
  margin: 5px;
  appearance: none;
  border: none;
  outline: none;
  background-color: whitesmoke;
  cursor: pointer;
  opacity: 0.5;
}

.carousel-bottom-btn:hover,
.carousel-bottom-btn:active {
  transition: 0.4s;
  background-color: #44eeaa;
}

.demo-homes {
  object-fit: cover;
  width: 1000px;
  height: 45%;
  border-radius: 25px;
  box-shadow: 3px 3px 6px 4px rgba(22, 29, 29, 0.536);
}

/* Perks and Amenities Section */

.perks {
  font-family: "montserrat", sans-serif;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding-top: 100px;
}

.amenities-wrapper {
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 30px;
  padding-top: 50px;
}

.amenity-box {
  max-width: 400px;
  height: 250px;
  border: 2px solid #994cb0;
  background-color: #212529;
  opacity: 0.75;
  border-radius: 25px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 20px;
}

.amenity-text {
  color: whitesmoke;
}

.pic {
  max-width: 400px;
  object-fit: cover;
}

.amenity {
  width: 400px;
  height: 250px;
  border-radius: 25px;
  box-shadow: 3px 3px 6px 4px rgba(22, 29, 29, 0.536);
}

/* Testimonials */

.testimonials {
  font-family: "montserrat", sans-serif;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.877);
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px 0px 40px;
}

.border {
  width: 1200px;
  height: 5px;
  background: #994cb0;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;
  border-radius: 50%;
}

.people {
  object-fit: cover;
  height: 200px;
  max-width: 133px;
  border-radius: 25px;
  box-shadow: 3px 3px 6px 4px rgba(22, 29, 29, 0.536);
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.877);
}

.stars {
  color: #994cb0;
  margin-bottom: 20px;
}

/* re-order amenities section FOR THE LOVE OF GOD DO NOT CHANGE*/
@media screen and (max-width: 830px) {
  .amenities-wrapper div:nth-child(2) {
    order: -1;
  }

  .amenities-wrapper div:nth-child(5) {
    order: 7;
  }

  .row,
  .col {
    display: block;
    margin: 0 auto;
  }
}

/* Footer */

footer {
  background-color: #212529;
  opacity: 0.6;
}

/*  New Property Page */

.new-property-data {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.form-control {
  margin-top: 7px;
}

.add-property-btn {
  margin: 7px auto;
  display: flex;
  min-width: 500px;
}

/* Show Single Property Page
    Will need refactoring */

.show-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
}
/* 
.show-property {
   width: 400px;
  height: 400px; 
} */

/* Login page */
#login.row {
  display: block;
}

.form-group {
  padding-bottom: 7px;
}

.mb-4,
#login-btn {
  margin: 0 auto;
  display: flex;
  width: 100%;
}

/*  Register  */
#register-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.register-form-group {
  padding-bottom: 7px;
}
